<h1>Edit Agent</h1>

<p class="fixed">
  <span class="title">First Name</span>
  <span class="value"><%= @agent.first_name %></span>
</p>

<p class="fixed">
  <span class="title">Last Name</span>
  <span class="value"><%= @agent.last_name %></span>
</p>
<p class="fixed">
  <span class="title"><%= 'email'.titleize %></span>
  <span class="value"><%= @agent.email %></span>
</p>
<p class="fixed">
  <span class="title"><%= 'cell_phone'.titleize %></span>
  <span class="value"><%= @agent.cell_phone %></span>
</p>
<p class="fixed">
  <span class="title"><%= 'office_phone'.titleize %></span>
  <span class="value"><%= @agent.office_phone %></span>
</p>
<p class="fixed">
  <span class="title"><%= 'direct_work_phone'.titleize %></span>
  <span class="value"><%= @agent.direct_work_phone %></span>
</p>
<p class="fixed">
  <span class="title"><%= 'fax_phone'.titleize %></span>
  <span class="value"><%= @agent.fax_phone %></span>
</p>
<p class="fixed">
  <span class="title">MLS ID</span>
  <span class="value"><%= @agent.mls_id %></span>
</p>


<div id="agent_<%= @agent.id %>_hide"></div>

<div class="richtext-holder">
  <h5>Bio</h5>
  <div id="agent_<%= @agent.id %>_bio"></div>
</div>

<div id="agent_<%= @agent.id %>_image"></div>

<div id="message"></div>

<% content_for :caboose_css do %>
<style>
  p.fixed span.title {
    font-weight: bold;
  }
  span.title::after {
    content: ":";
  }
  .richtext-holder {
    margin: 20px 0;
  }
  .richtext-holder h5 {
    font-size: 1.1em;
    margin: 0 0 5px 0;
  }
</style>
<% end %>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type="text/javascript">
$(document).ready(function() {
  m = new ModelBinder({
    name: 'Agent',
    id: <%= @agent.id %>,
    update_url: '/admin/agents/<%= @agent.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'hide', nice_name: 'Hide', type: 'checkbox', value: <%== Caboose.json(@agent_meta.hide) %>, width: 500, height: 300 },
      { name: 'bio', nice_name: 'Bio', type: 'richtext', value: <%== Caboose.json(@agent_meta.bio) %>, width: 500, height: 300 },
      { name: 'image'  , nice_name: 'Image'   , type: 'image'  , value: <%= raw Caboose.json(@agent_meta.image ? @agent_meta.image.url(:thumb) : 'http://placehold.it?300x300') %>, width: 800, update_url: '/admin/agents/<%= @agent.id %>/image' }
    ]
  });  
});
</script>
<%== caboose_tinymce %>
<% end %>